<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="styleSheet" href="../static/styles.css">
    <title>Charliemons</title>
</head>
<body>
    <header>
        <div class="header_content">
            <div class="logo_name">
                <div id="logo">
                    <a href=".">
                        <img src="../static/logo/logo.gif" alt="Charliemons logo">
                    </a>
                </div>
                <h2 id="page_name">
                    <a href=".">Charliemons</a>
                </h2>
            </div>
            <nav class="options">
                <ul id="options">
                    <li class="itemOption"><a href="/">Home</a></li>
                    <li class="itemOption"><a href="/signup">Sign up</a></li>
                    <li class="itemOption"><a href="/login">Log in</a></li>
                    <li class="itemOption"><a href="/fav_charliemons">❤️ My Charliemons</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="hero">
        <h2>Welcome to the oficial website of Charliemons</h2>
        <p>Here you'll find information about your favorite Charliemon</p>
    </section>

    <main>
        <section class="pokedex_container">
            <h2>Search for your favorite Charliemon</h2>
            <form>
                <input type="text" name="sCharliemon" id="sCharliemon" placeholder="Type your charliemon name or id">
                <button type="submit" id="search_button">Search</button>
            </form>
            <p id="error_msg"></p>
            <div id="charliemons_grid_search" class="grid_layout">
            </div>
        </section>
        <section class="pokedex_container">
            <h2>Some of our Charliemons</h2>
            <div id="charliemons_grid" class="grid_layout">
            </div>
        </section>
    </main>
    <footer>
        <div class="footer_content">
            <div class="footer_links">
                <a href="/">Home</a>
                <a href="/signup">Sign up</a>
                <a href="/login">Log in</a>
                <a href="/fav_charliemons">My Charliemons</a>
                <a href="/contact">Contact us</a>
            </div>
            <div class="footer_info">
                <p><strong>Charliemons</strong> - The oficial Charliemons website</p>
                <p>📧 sbernal@unsa.edu.pe | 📞 +51 987 654 321</p>
            </div>
            <p id="ultimoParrafo">&copy; 2025 Charliemons. All rights reserved.</p>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='scripts/index.js')}}"></script>
</body>
</html>